input {
  outline: none;
  /* padding: 12px; */
  border: none;
  font-size: 24px;
  background-color: transparent;
  font-weight: bold;
  /* font-family: initial; */
  font-family: "Source Code Pro", monospace;
  color: inherit;
}
